.NewsItem {
    text-align: left;
    padding: 10px;
}

.thump{
    width: 100%;
}

.p_tag{
    color: green;
    font-size: 13px;
  };

.p_author{
    color: grey;
    font-size: 13px;
}
.p_timer{
    color: grey;
    font-size: 13px;
}

.sp_content{
    display: block;
}


@media screen and (max-width: 760px){
    .sp_content{
        display: none;
    }
    .p_tag{
        color: green;
        font-size: 10px;
    }
    .p_title{
        font-size: 15px;
    } 
    .p_author{
        color: grey;
        font-size: 10px;
    }
    
    .p_timer{
        color: grey;
        font-size: 10px;
    }
}